<div class="row">
    <div *ngFor="let p of store.products" class="col-md-4">
        <div class="border bg-light rounded p-1">
            <div class="border bg-light rounded p-1">
                <!-- Sử dụng ảnh đầu tiên của sản phẩm nếu có -->
                <img *ngIf="p.img.length > 0" src="{{p.img[0].urlImage}}" class="img-fluid product-image" alt="{{p.name}}" />
                <!-- Nếu không có ảnh, bạn có thể thêm một hình ảnh mặc định hoặc ẩn phần ảnh này -->
                <!-- <img src="/img/default.jpg" class="img-fluid product-image" alt="{{p.name}}" /> --> 
                <h5>{{p.category.name}}</h5>
                <ul class="product-props">
                    <li>Title: {{p.name}}</li>
                    <li>{{p.description}}</li>
                </ul>
                <a [routerLink]="['/product', p.id]">Xem chi tiết</a>
                <button id="buyButton" class="btn btn-success" (click)="store.addToOrder(p)">Buy</button>
            </div>
        </div>
    </div>
</div>
