<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cửa Hàng Vàng Bạc Tuấn Thành</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/nalika-icon.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/responsive.css">




    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">

    <!-- modernizr JS
        ============================================ -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    

</head>
<body>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="img/SK-A-2344.jpg" alt="" /></a>
                <strong><img src="~/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-user icon-wrap"></i>
                                <span class="mini-click-non">Quản lý tài khoản</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li>
                                    <a title="Quản lý tài khoản" asp-controller="AdminPage" asp-action="AccountManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý tài khoản
                                        </span>
                                    </a>
                                </li>
                                @if (User.IsInRole("admin"))
                                {
                                    <li>
                                        <a title="Thêm tài khoản" asp-controller="AdminPage" asp-action="AddUsers">
                                            <span class="mini-sub-pro">
                                                Thêm tài khoản
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-home icon-wrap"></i>
                                <span class="mini-click-non">Quản lý phiếu nhập</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="Quản lý nhà cung cấp" asp-controller="AdminPage" asp-action="SupplierManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý nhà cung cấp
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Quản lý phiếu nhập" asp-controller="AdminPage" asp-action="InventoryReceiptManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý phiếu nhập
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Thêm phiếu nhập" asp-controller="AdminPage" asp-action="AddInventoryReceipt">
                                        <span class="mini-sub-pro">
                                            Thêm phiếu nhập
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                
                                <i class="icon nalika-folder icon-wrap"></i>
                                <span class="mini-click-non">Quản lý sản phẩm</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="Quản lý danh mục" asp-controller="AdminPage" asp-action="CategoryManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý danh mục
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Sửa sản phẩm" asp-controller="AdminPage" asp-action="ProductManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý sản phẩm
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Thêm sản phẩm" asp-controller="AdminPage" asp-action="AddProduct">
                                        <span class="mini-sub-pro">
                                            Thêm sản phẩm
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-shopping-cart icon-wrap"></i>
                                <span class="mini-click-non">Quản lý đơn hàng</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="Quản lý đơn hàng" asp-controller="AdminPage" asp-action="OrderManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý đơn hàng
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Thêm đơn hàng" asp-controller="AdminPage" asp-action="AddOrder">
                                        <span class="mini-sub-pro">
                                            Thêm đơn hàng
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-inbox icon-wrap"></i>
                                <span class="mini-click-non">Quản lý bảo hành</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="Quản lý bảo hành" asp-controller="AdminPage" asp-action="WarrantyManagement">
                                        <span class="mini-sub-pro">
                                            Quản lý bảo hành
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-bar-chart icon-wrap"></i>
                                <span class="mini-click-non">Báo cáo thống kê</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="Báo cáo nhập hàng" asp-controller="AdminPage" asp-action="InventoryReport">
                                        <span class="mini-sub-pro">
                                            Báo cáo nhập hàng
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Báo cáo doanh thu" asp-controller="AdminPage" asp-action="MonthlySalesReport">
                                        <span class="mini-sub-pro">
                                            Báo cáo doanh thu
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <div class="menu-switcher-pro">
                                                <button type="button" id="sidebarCollapse"
                                                        class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                    <i class="icon nalika-menu-task"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                            <div class="header-top-menu tabl-d-n">
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="header-right-info">
                                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <li class="nav-item">
                                                        <a href="#" data-toggle="dropdown" role="button"
                                                           aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <i class="icon nalika-user nalika-user-rounded header-riht-inf"
                                                               aria-hidden="true"></i>
                                                            <span class="admin-name">Advanda Cro</span>
                                                            <i class="icon nalika-down-arrow nalika-angle-dw nalika-icon"></i>
                                                        </a>
                                                        <ul role="menu"
                                                            class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                            <li>
                                                                <a href="register.html">
                                                                    <span class="icon nalika-home author-log-ic"></span>
                                                                    Register
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="icon nalika-user author-log-ic"></span> My
                                                                    Profile
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="lock.html">
                                                                    <span class="icon nalika-diamond author-log-ic"></span>
                                                                    Lock
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="icon nalika-settings author-log-ic"></span>
                                                                    Settings
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="login.html">
                                                                    <span class="icon nalika-unlocked author-log-ic"></span>
                                                                    Log Out
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Chào mừng đến với cửa hàng vàng bạc Tuấn Thành</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jquery
        ============================================ -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <!-- wow JS
        ============================================ -->
    <script src="~/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/js/icheck/icheck.min.js"></script>
    <script src="~/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/js/main.js"></script>

    <script src="~/js/site.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
   

    <!--test-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>


    <script>
        function initDataTable($table) {
            $($table).DataTable({
                dom: 'lsBfrtip',
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.1/i18n/vi.json',
                },
                "lengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "Tất cả"]
                ],
                buttons: [{
                    extend: 'collection',
                    text: 'Xuất ra',
                    buttons: [
                        'excel',
                        'csv',
                        'pdfHtml5',
                        'print',
                        'copy'
                    ]
                }],
                order: [],
                initComplete: function () {
                    var dataTable = this.api();
                    $('#export-buttons').append(dataTable.buttons);
                }
            });
        }

        initDataTable('#AccountTable');
        initDataTable('#SupplierTable');
        initDataTable('#CategoryTable');
        initDataTable('#InventoryTable');
        initDataTable('#ProductItemTable');
        initDataTable('#OrderTable');
        initDataTable('#WarrantyTable');
        initDataTable('#SalesTable');
    </script>

    <script>
        // $(document).on('click', '#btnAdd', function () {
        //     var productName = $("#ProductId option:selected").text();
        //     var sizeName = $("#SizeId option:selected").text();
        //     var materialName = $("#MaterialId option:selected").text();
        //     var productNames = $("#ProductId option:selected").val();
        //     var sizeNames = $("#SizeId option:selected").val();
        //     var materialNames = $("#MaterialId option:selected").val();
        //     var quantity = $("#QuantityId").val();
        //     var purchasePrice = $("#PurchasePriceId").val();

        //     var tBody = $("#inventoryReceipt > TBODY")[0];
        //     var row = tBody.insertRow(-1);

        //     var cell = $(row.insertCell(-1));
        //     cell.html(productName + '<input type="hidden" value="' + productNames + '" />');

        //     cell = $(row.insertCell(-1));
        //     cell.html(sizeName + '<input type="hidden" value="' + sizeNames + '" />');

        //     cell = $(row.insertCell(-1));
        //     cell.html(materialName + '<input type="hidden" value="' + materialNames + '" />');

        //     cell = $(row.insertCell(-1));
        //     cell.html(quantity);

        //     cell = $(row.insertCell(-1));
        //     cell.html(purchasePrice);

        //     cell = $(row.insertCell(-1));
        //     var btnRemove = $("<input />");
        //     btnRemove.attr("type", "button");
        //     btnRemove.attr("onclick", "Remove(this);");
        //     btnRemove.val("Remove");
        //     cell.append(btnRemove);
        //     reset_btnadd();

        // });
        // function reset_btnadd() {
        //     $("#ProductId").val('').change();

        //     $("#SizeId").val('').change();
        //     $("#MaterialId").val('').change();
        //     $("#MaterialId").val('').change();
        //     $("#QuantityId").val('');
        //     $("#PurchasePriceId").val('');
        //     $('.selectpicker').selectpicker('refresh');

        // }
    </script>
    @RenderSection("Scripts", false)

</body>
</html>