<div class="container">
    <h1>Change Password Confirmation</h1>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }
</div>

<!-- Định nghĩa các script hoặc link đến các file script -->
<script>
    // Hiển thị thông báo trong cửa sổ alert
    var successMessage = "@ViewBag.SuccessMessage";
    if (successMessage) {
        alert(successMessage);
    }
</script>