@model Order
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .btn-success {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 459px;
    }
</style>

<h2>Bạn đã đặt hàng thành công!</h2>

<p>Cảm ơn bạn đã mua hàng!</p>

<button class="btn-success" onclick="location.href='/App/HistoryOrders'">Theo dõi đơn hàng</button>


